
h3 {
    padding: 8px;
}
#promocao{
    width: 100%;
    text-align: center;
    background-color: cadetblue;
    color: snow;
    margin: 5px;
}
main {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px auto;
}
.produtos img{
    width: 100%;
}
.produtos {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px black; 
}
#catalogo button {
    margin: 4px 4px;
    width: 100%;
    background-color: snow;
    color: black;
}
h4 {
    color: black;
    font-size: large;
}
p {
    color: black;
    font-size: large;
}